@import "../utils/mixins";
@import "../utils/variables";

.card {
  height: 70px;
  width: 325px;
  min-width: 300px;
  position: relative;
  margin: 15px auto;
  animation: fadeIn 5s;
  &__input {
    appearance: none;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 17px;
    position: absolute;
    @include boxShadow;
    cursor: pointer;
    &:checked:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 70px;
      background-color: $colorTertiary;
      border: 1px solid #e2e6f3;
      border-radius: 0 17px 17px 0;
      top: 0;
      right: 0;
    }
  }
  &__label {
    width: 100%;
    position: absolute;
    padding: 8px 10px;
    cursor: pointer;
    &__title {
      margin-bottom: 9px;
      font-weight: 600;
    }
    &__subContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__subtitle {
        font-size: 15px;
      }
      &__price {
        font-weight: 600;
      }
    }
  }
}
