@import "../utils/mixins";

.heartContainer {
  &_heartIcon {
    overflow: hidden;
  }
}

.fa-heart {
  padding: 2px;
  cursor: pointer;
}

.lower {
  z-index: 10;
  position: absolute;
  // TODO not working with firefox
  color: transparent;
  background: linear-gradient($colorPrimary, $colorSecondary);
  background-clip: border-box;
  -webkit-background-clip: text;
  transform: translateY(-29px);
}

.overlay {
  z-index: 20;
  color: $colorWhite;
  position: relative;
  transform: translateY(0px);
  background-color: lighten($colorBlack, 98%);
  -webkit-text-stroke: 0.5px $colorBlack;
  &:hover {
    transition: 1.5s;
    transform: translateY(-30px);
    -webkit-text-stroke: 0 $colorBlack;
  }
}

.backgroundWhite {
  background-color: $colorWhite;
}
