@import "../utils/variables";
@import "../utils/mixins";

.imageMenu {
  width: 100%;
  object-fit: cover;
  height: 273px;
  @media (min-width: map-get($breakpoints, tablet)) {
    height: 390px;
  }
  @media (min-width: map-get($breakpoints, laptop)) {
    height: 450px;
  }
}
