@import "../utils/variables";
@import "../utils/mixins";

.titleMenu {
  @include flexRow;
  justify-content: space-between;
  position: relative;
  margin-top: -55px;
  padding: 40px 40px 10px 40px;
  border-radius: 55px 55px 0 0;
  background-color: lighten($colorBlack, 98%);
  & h1 {
    font-family: $fontShrikhand;
  }
}
