@import "variables";

@mixin border($color:$colorPrimary) {
  border: .1rem solid $color;
}

@mixin headerShadow {
  box-shadow: 0 0 8px lighten($colorBlack, 65%);
}

@mixin textShadow($shiftRight: 1px, $shiftDown: 1px, $blur: 1px, $color: rgba(0,0,0,0.2)) {
  text-shadow: $shiftRight $shiftDown $blur $color;
}

@mixin boxShadow($shiftRight: 3px, $shiftDown: 4px, $blur: 9px, $spread: 2px, $color: lighten($colorBlack, 90%)) {
  box-shadow: $shiftRight $shiftDown $blur $spread $color;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin overflowing {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
