$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorButtons: linear-gradient($colorSecondary, $colorPrimary);
$colorHoverButtons: linear-gradient(lighten($colorSecondary, 10%), lighten($colorPrimary, 10%));

$breakpoints: (mobile: 360px, tablet: 768px, laptop: 1024px, desktop: 1440px);

$fontRoboto: 'Roboto', sans-serif;
$fontShrikhand: 'Shrikhand', cursive;

@keyframes fadeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOpacityTranslate {
  from {
    opacity: 0;
    transform: translate(0px, 15px) rotate(0turn);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0turn);
  }
}

@keyframes fadeRotation {
  from {
    transform: rotate(0turn);
    opacity: 1;
  }
  to {
    transform: rotate(1.5turn);
    opacity: 0;
  }
}
