$colorPrimary: #9356DC;
$colorSecondary: #8679ff;
$colorTertiary: #99E2D0;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorButtons: linear-gradient(to bottom, $colorSecondary 0%, $colorPrimary 100%);
$colorHoverButtons: linear-gradient(to bottom, lighten($colorSecondary, 10%) 0%, lighten($colorPrimary, 10%) 100%);

$breakpoints: (mobile: 375px, tablet: 768px, laptop: 1024px, desktop: 1440px);

$fontRoboto: 'Roboto', sans-serif;
$fontShrikhand: 'Shrikhand', cursive;

@keyframes fadeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOpacityTranslate {
  from {
    opacity: 0;
    transform: translate(0px, 15px) rotate(0turn);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0turn);
  }
}

@keyframes translate {
  from {
    transform: rotate(0turn);
    opacity: 1;
  }
  to {
    transform: rotate(1.5turn);
    opacity: 0;
  }
}
