@import "../utils/variables";

* {
  font-family: $fontRoboto;
}

body {
  color: $colorBlack;
  font-size: 17px;
  line-height: 1.1;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

button {
  font-weight: 600;
  font-size: 18px;
}

p {
  font-size: 18px;
}

i {
  font-size: 23px;
}
