@import "../utils/variables";
@import "../utils/mixins";


.sectionFunctioning {
  padding: 55px 20px 55px 32px;
  h1 {
    margin-left: -15px;
  }
}

.functioning {
  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__number {
    @media (min-width: 600px) {
      left: 15px;
    }
    text-align: center;
    background-color: $colorPrimary;
    color: $colorWhite;
    border-radius: 50%;
    padding: 6px;
    width: 27px;
    height: 27px;
    position: relative;
    right: 14px;
    top: 49px;
  }
  &__btn {
    @media (min-width: 600px) {
      margin-right: 30px;
      margin-left: 30px;
    }
    @media (max-width: 350px) {
      width: 280px;
    }
    @include boxShadow;
    cursor: pointer;
    border: none;
    border-radius: 22px;
    width: 305px;
    background-color: lighten($colorBlack, 98%);
    display: flex;
    text-align: start;
    padding: 26px;
    &:hover {
      background-color: lighten($colorPrimary, 35%);
      .functioning__btn__icon {
        &:before {
          color: $colorPrimary;
        }
      }
    }
    &__icon {
      width: 25px;
      margin-right: 20px;
      font-size: 21px;
      color: lighten($colorBlack, 62%);
      &:hover {
      }
    }
  }
}

.sectionRestaurants {
  background-color: lighten($colorBlack, 96.5%);
  padding: 50px 20px;
  h1 {
    margin-bottom: 23px;
  }
}

.restaurants {
  @media (min-width: 600px) {
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  &__card {
    @media (min-width: 600px) {
      width: 390px;
      margin: 10px;
    }
    width: 100%;
    height: 230px;
    margin-bottom: 18px;
    border-radius: 17px;
    background-color: $colorWhite;
    @include boxShadow;
    &__img {
      width: 100%;
      border-radius: 17px 17px 0 0;
      object-fit: cover;
      height: 160px;
    }
    &__description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 20px 0 10px;
      &__btn {
        @media (min-width: 600px) {
          left: 20%;
        }
        @media (max-width: 350px) {
          left: 15%;
        }
        width: 85px;
        height: 30px;
        border: none;
        background-color: $colorTertiary;
        color: darken($colorTertiary, 37%);
        position: relative;
        left: 11.5%;
        bottom: 160px;
      }
      &__info {
        @media (max-width: 350px) {
          font-size: 14px;
          p {
            font-size: 14px;
          }
        }
        line-height: 1.5;
      }
      &__heart {
        margin-top: 6px;
        font-size: 23px;
      }
    }
  }
}


