@import "../utils/variables";
@import "../utils/mixins";

.menu {
  padding: 30px;
  background-color: lighten($colorBlack, 98%);
  &_title {
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
  }
  &_underline {
    background-color: $colorTertiary;
    margin: 7px 0 0 10px;
    width: 50px;
    height: 3px;
  }
  &_cards {
    @include flexColumn;
    align-items: center;
    &_card {
      cursor: pointer;
      @include boxShadow;
      border-radius: 17px;
      margin: 10px;
      width: 350px;
      background-color: $colorWhite;
      &_container {
        @include flexRow;
        &_description {
          padding: 15px;
          width: 100%;
          min-width: 0;
          &_title {
            margin-bottom: 6px;
            @include overflowing;
            white-space: nowrap;
          }
          &_submenu {
            @include flexRow;
            justify-content: space-between;
            &_subtitle {
              @include overflowing;
              white-space: nowrap;
            }
            &_price {
              font-weight: 700;
            }
          }
        }
        &_selected {
          width: 0;
          transition: 0.5s;
          &_icon {
            height: 100%;
            display: block;
            overflow: hidden;
            position: relative;
            color: $colorWhite;
            border-radius: 0 17px 17px 0;
            background-color: $colorTertiary;
            i {
              transform: translate(0px, -15px) rotate(-0.5turn);
              position: absolute;
              top: 37px;
              left: 37px;
            }
          }
        }
        &:hover &_selected {
          width: 100px;
          transform: scaleX(1);
          i {
            transform: translate(-15px, -15px) rotate(1turn);
            font-size: 31px;
            transition: 0.5s;
          }
        }
      }
    }
    @media (min-width: map-get($breakpoints, tablet)) {
      @include flexRow;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &_container {
    @include flexRow;
    align-items: center;
  }
}

