@import "../utils/variables";
@import "../utils/mixins";


.sectionFunctioning {
  padding: 55px 15px;
}

.functioning {
  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__number {
    @media (min-width: 600px) {

    }
    text-align: center;
    background-color: $colorPrimary;
    color: $colorWhite;
    border-radius: 50%;
    padding: 6px;
    width: 27px;
    height: 27px;
    position: relative;
    left: -16px;
    top: 49px;
  }
  &__btn {
    @media (min-width: 601px) {
    }
    @media (max-width: 351px) {
      width: 280px;
    }
    @include carteBtn;
    &__icon {
      width: 25px;
      margin-right: 20px;
      font-size: 21px;
      color: lighten($colorBlack, 62%);
      &:hover {
        color: $colorPrimary;
      }
    }
  }
}

.sectionRestaurants {
  background-color: lighten($colorBlack, 96.5%);
  padding: 50px 15px;
}

.restaurants {

}


