@import "../utils/variables";
@import "../utils/mixins";

.footer {
  @media (min-width: map-get($breakpoints, tablet)) {
  }
  width: 100%;
  height: 190px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: lighten($colorBlack, 25%);
  padding-left: 20px;

  &_logo {
    width: 120px;
    margin: 25px 0;
  }
  &_ul {
    li {
      margin-bottom: 7px;
      a {
        color: $colorWhite;
        i {
          margin-right: 10px;
          font-size: 15px;
          width: 25px;
        }
      }
    }
  }
}


