@import "../utils/variables";
@import "../utils/mixins";

.header {
  width: 100%;
  @include flexColumn;
  align-items: center;
  @media (min-width: map-get($breakpoints, tablet)) {
    justify-content: space-around;
  }
  &_iconContainer {
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 22px;
  }
  &_container {
    width: 100%;
    text-align: center;
    @media (min-width: map-get($breakpoints, tablet)) {
      @include flexRow;
      justify-content: space-around;
    }
    &_logoContainer {
      background-color: $colorWhite;
      position: relative;
      @include headerShadow;
      @media (min-width: map-get($breakpoints, tablet)) {
        box-shadow: none;
      }
      &_logo {
        width: 190px;
        margin: 18px auto 8px auto;
      }
    }
    &_locationContainer {
      background-color: lighten($colorBlack, 85%);
      @media (min-width: map-get($breakpoints, tablet)) {
        background-color: $colorWhite;
      }
      &_location {
        font-weight: 600;
        padding: 18px 0;
        @media (min-width: map-get($breakpoints, tablet)) {
          background-color: $colorWhite;
          box-shadow: none;
          margin: auto;
        }
        & i {
          margin-right: 15px;
        }
      }
    }
  }
}


