@import "../utils/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $colorBlack;
}
